/* reset */
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/* cabeçalho */
.cabecalho{
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: lightskyblue;
    text-align: center;
}
.cabecalho img{
    width: 180px;
}
.cabecalho a{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

/* banner */
.banner img{
    margin-top: 50px;
   padding-bottom: 0px;
}

/* sobre */
.sobre img{
    width: 500px;
    margin: 30px;
}
.sobre h1,h2{
    margin: 5px;
}
.sobre h2{
    color: rgb(97, 164, 206);
    font-weight: normal;
}
.sobre p{
    font-weight: bold;
    text-align: justify;
    margin: 15px 280px 30px 280px;
    line-height: 25px;
}
.sobre span{
    color: rgb(63, 150, 204);
}

/* servicos */
.servicos{
    color: white;
    font-size: 18px;
}
.servicos p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin: 40px auto;
    width: 700px;
    line-height: 42px;
}
.servicos h2{
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}
.servicos span{
    
    color: rgb(216, 216, 8);
}
.servicos ul{
    text-align: left;
    width: 135px;
    margin: 40px auto;
    line-height: 30px;
}

/* corretores */
.corretores h2{
    line-height: 42px;
    padding-top: 25px;
    padding-bottom: 30px;
    color: rgb(63, 150, 204);
}
.corretores img{
   width: 450px;

}
.corretores p{
    font-weight: bold;
    text-align: justify;
    margin: 15px 280px 30px 280px;
    line-height: 25px;
}
.corretores span{
    color: rgb(63, 150, 204);
}


/* contatos */
.endereco p{
    background-color: rgba(0, 0, 0, 0.726);
    color: #ffffff;
    padding: 18px 20px;
    width: 990px;
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
}
.endereco h2{
    color: #ffffff;
    font-weight: bold;
}
.endereco ul{
    width: 230px;
    margin: 40px auto;
}
.endereco ul li{
    margin-top: 18px;
    text-align: center;
} 
.endereco ul li a{
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 10px 10px;
}


/* global */
.topico{
    font-size: 25px;
}
iframe{
    width: 850px;
    height: 360px;
    text-align: center;
}
span{
    font-weight: bold;
}
.cabecalho, .banner, .servicos, .sobre, .corretores, .endereco{
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}
.servicos, .endereco{
    background-color:rgb(63, 150, 204);
}
html{
    scroll-behavior: smooth;
}